body {
	background-color: palegoldenrod;
	font-family: 'Roboto', 'cursive';
    margin: 2em;
}

div {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin: 0px;
}

a {
	text-decoration: none;
    color: black;
}

li {
	margin: 1em;
    padding: 0.5em;
}

li:hover {
    background-color: #ECEFF1;
    cursor: pointer;
    
}